<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    
    

    <title>政采贷</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    
    <link href="css/plist/b.css" rel="stylesheet">
    <link href="css/plist/creditlevel.css" rel="stylesheet">
    <link href="css/plist/progressbar.css" rel="stylesheet">
    
    <link href="css/mine.css" rel="stylesheet">
    
    
    
    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript"
				src="/resources/EasyServiceClientFullZ.js"></script>
	<script type="text/javascript"
				src="/easyservice/gpps.service.IProductService?json"></script>
	<script type="text/javascript"
				src="/easyservice/gpps.service.IGovermentOrderService?json"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     	<script src="js/cdn/html5shiv.min.js"></script>
        <script src="js/cdn/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body style="background-color: #f5f5f5">

<div id="projectlist" style="width:1000px; margin-top:0px; margin-bottom:10px; padding-bottom:5px; background-color : #f5f5f5">
</div>

<textarea style="display:none;" id="projectlist_template">

<table class="ui-list-invest" id="products" style="width:1000px;">
<tr id="header" style="padding-left:0px; padding-right:0px; margin-bottom:10px;">
      				<td class="color-gray-text text-center" style="min-width:120px;">融资项目</td>
      				<td class="color-gray-text text-center" style="min-width:50px;">类型</td>
      				<td class="color-gray-text text-center" style="min-width:50px;">年利率</td>
      				<td class="color-gray-text text-center" style="min-width:100px;">金额</td>
      				<td class="color-gray-text text-center" style="min-width:100px;">期限</td>
      				<td class="color-gray-text text-center" style="min-width:100px;">进度</td>
      				<td class="color-gray-text text-center" style="min-width:100px;"></td>
    				</tr>
<!--#
	var orders = res.get('result');
	for(var i=0; i<orders.size(); i++)
	{
	var order = orders.get(i);
	var products = order.products;
	
	
	for(var t=0; t<products.size(); t++)
	{
	
	var product = products.get(t);
	var rate = parseInt(parseFloat(product.rate.value)*100);
	
	var seriesname = '稳健';
	var seriesclss = 'A';
	if(product.productseriesId==2){
		seriesname='均衡';
		seriesclss='B';
	}else if(product.productseriesId==3){
		seriesname='进取';
		seriesclss='C';
	}
	
	var days = parseInt((product.incomeEndtime-order.incomeStarttime+23*3600*1000)/(24*3600*1000)+'');
	var percent = parseInt(parseInt(product.realAmount.value)*100/parseInt(product.expectAmount.value));
	
	var state = order.state;
	var state_a_cls = '';
	var state_span = '';
	if(state==1)
		{
		if(parseInt(product.expectAmount.value)==parseInt(product.realAmount.value))
		{
			state_a_cls = 'ui-list-invest-button-FIRST_READY';
			state_span = '<span class="READY FIRST_READY">已满标</span>'
			}
		else
		{
			state_a_cls = 'ui-list-invest-button-OPEN';
			state_span = '<span class="OPEN">投标中</span>';
			}
		}
	else if(state==2)
	{
		state_a_cls = 'ui-list-invest-button-FIRST_APPLY';
		state_span = '<span class="FIRST_APPLY">预发布</span> ';
		}
	else if(state==4)
	{
		state_a_cls = 'ui-list-invest-button-IN_PROGRESS';
		state_span = '<span class="IN_PROGRESS">还款中</span>'
		}
	else if(state==8)
	{
		state_a_cls = 'ui-list-invest-button-OVER_DUE';
		state_span = '<span class="OVER_DUE">待关闭</span>';
		}
	else if(state==32)
	{
		state_a_cls = 'ui-list-invest-button-CLOSED';
		state_span = '<span class="CLOSED">已关闭</span>';
		}
	else if(state==16)
	{
		state_a_cls = 'ui-list-invest-button-BAD_DEBT';
		state_span = '<span class="BAD_DEBT">流标</span>';
		}
#-->

<tr class="ui-list-item" id="header"
	style="padding-left: 0px; padding-right: 0px;">
	
	<!--# 
	if(t==0)
	{
	 #-->
	<td class="text-big" style="max-width:200px;" rowspan=+-products.size()-+>
		<div style="display:inline;">
			<a class="producttitle" style="font-size:20px;" href="productdetail.html?pid=+-product.id-+"
				target="_blank" title="+-order.title-+">+-order.title-+</a>
		</div>
	</td>
	<!--# 
	}
	 #-->

	<td class="ui-list-field text-center"><a
		class="ui-creditlevel +-seriesclss-+ snow">+-seriesname-+</a></td>
	<td class="ui-list-field num text-right pr10"><em class="value">+-rate-+</em>%</td>
	<td class="ui-list-field num text-right pr10"><em class="value">+-parseInt(product.expectAmount.value)-+</em>元</td>
	<td class="ui-list-field num text-right pr10"><em class="value">+-days-+</em>天</td>

	<td class="ui-list-field"><strong
		class="ui-progressbar-mid ui-progressbar-mid-+-percent-+"><em>+-percent-+</em>%</strong>
	</td>

	<td class="ui-list-field text-right">
		<a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button +-state_a_cls-+" href="productdetail.html?pid=+-product.id-+" target="_blank"> 
			+-state_span-+
		</a>
	</td>
</tr>

<!--# 
		}
	}
 #-->

</table>
</textarea>

<script>
var productService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IProductService");
var orderService = EasyServiceClient.getRemoteProxy("/easyservice/gpps.service.IGovermentOrderService");
$(document).ready(function () {
	//var products = productService.findByStates(-1, 0, 5);
	//var res = orderService.findByStatesByPage(-1, 0, 100);
	var res = orderService.findGovermentOrderByProductSeries(1,-1,0,100);
	
	var ctx = new EasyServiceClient.newContext();
	ctx.res = res;
	ejs.renderComplexNode("#projectlist_template", "#projectlist", ctx);
	
});
</script>


</body>
</html>